.buttonsContainer {
    position: relative;
    left: 50%;
    margin-left: -50%;
    top: 50%;
    margin-top: -50%;
    text-align: center;
    width: 100%;
}

.buttonContainer {
    display: inline-block;
    margin: 0.5rem 0;
    width: 100%;
}