.lineItem {
 text-align: left;
 padding: 0.5rem;
 border-bottom: 1px solid silver;
width: 100%;
overflow: hidden;
}

.lineItemLink{
    color: black;
    text-decoration: none;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    width: 100%;
}

.listIcon {
    margin-right: 0.3rem;
}